<li id="comment-<%=com._id%>">
    <p>

        <% if(locals.user && (locals.user.id==com.user.id)){%>
            <small>
                <a class="delete-push-comment" href="/comment/destroy/<%=com.id%>">X</a>
            </small>
         <%}%>
         <%= com.content%>
         <br>
         <small>
             <%= com.user.name%>
         </small>
        <small>
            <%if(locals.user){%>
                <a href="/likes/toggle?id=<%=com._id%>&type=Comment" data-likes="<%=com.likes.length%>" class="likebutton"> <i class="fa fa-heart"> </i>
                    <%=com.likes.length%> Likes
                </a>
            <%}else{%>
                <%=com.likes.length%> Likes
            <%}%>
        </small>
    </p>
</li>